<h1>Demos#index</h1>
<p>Find me in app/views/demos/index.html.erb</p>
<%= raw high_chart('high-pie', @testobject, width: 600, height: 300) %>
<%= raw high_chart('high-line', @testobject_line, width: 600, height: 300) %>
<%= raw high_chart('high-column', @testobject_column, width: 600, height: 300) %>
